body { margin: 0 }
h3 { margin: 0 }
@media ( max-width:2100px ) {
	.admin_wrap { margin: 200px auto; width: 30%; border: 2px solid black; padding: 10px }
	.admin_wrap .login_info { display:inline-block; text-align:center }
	.admin_wrap .login_info .userid { margin-left:35px }
	.admin_wrap .login_info .passwd { margin-left:20px }
	.admin_wrap .login_btn_div { margin-top:-25px; display:inline-block; vertical-align:middle }
	.admin_wrap .login_btn_div .login_btn { height:50px }

	.head_bar { background-color:#ffce4b; padding:5px }
	.head_bar .menu_btn { float: right; }
	.head_bar .menu_btn a { text-decoration: none; color: #000000 }

	.side_menu { display: inline-block; height:100%; background-color: #f4f4f4; padding: 10px; width: 167px; float: left }
	.side_menu ul { list-style: none; padding: 0; margin: 0 }
	.side_menu ul li { padding: 10px 5px 10px 5px; border-bottom: 1px solid black; }
	
	.wrap { display: inline-block; padding: 10px; width: 80% }
	
	.admin_menu { background-color: #f4f4f4; font-size: 2.5em; text-align: center; font-weight: bold; padding: 10px; display: none; }
	
	.ad_table { width: 100% }
	.ad_table th { border: 1px solid black; background-color:#f4f4f4; height: 30px; cursor: pointer }
	.ad_table th.on { background-color: #FFCE4B }
	.ad_table td { border: 1px solid black; padding: 10px }
	.ad_table td ul { list-style: none; padding: 0; margin: 0 }
	.ad_table td ul li { height: 30px }

	.ad_table2 { width: 80% }
	.ad_table2 th { border: 1px solid black; background-color:#f4f4f4; height: 30px; }
	.ad_table2 th.on { background-color: #FFCE4B }
	.ad_table2 td { border: 1px solid black; text-align: center }
		
	.ad_table3 { width: 100%;}

	.input_text { width:100%; border: none; outline: none }

	.footer_text { font-size: 1.1em; width: 100%; border: none; outline: none; padding-left: 10px }
	.header_text { font-size: 1.1em; width: 100%; border: none; outline: none; padding-left: 10px }

	.btn_submit { background-color:#ffce4b; border:none; padding:5px; font-weight: bold }
	.btn_preview { background-color:#f4f4f4; border:none; padding:5px; font-weight: bold }
}

@media ( max-width: 1200px ) {
	.admin_wrap { font-size:2.2em; margin: 200px auto; width: 80%; border: 2px solid black; padding: 10px }
	.admin_wrap .login_info { display:inline-block; text-align:center }
	.admin_wrap .login_info .userid { margin-left:50px; font-size: 1em }
	.admin_wrap .login_info .passwd { margin-left:20px; font-size: 1em }
	.admin_wrap .login_btn_div { margin-top:-55px; display:inline-block; vertical-align:middle }
	.admin_wrap .login_btn_div .login_btn { height:100px; font-size: 0.8em; width:100px }

	.head_bar { background-color: #ffce4b; padding: 5px; font-size: 3em }

	.side_menu { display: none; height:100%; background-color: #f4f4f4; padding: 10px; width: 167px; float: left }

	.wrap { display: inline-block; padding: 10px; width: 98%; margin:auto; font-size:2em }
	.admin_menu { background-color: #f4f4f4; font-size: 2.5em; text-align: center; font-weight: bold; padding: 10px; display: block; }
	
	.ad_table { width: 100%; font-size: 1.5em }
	.ad_table th { border: 1px solid black; background-color:#f4f4f4; height: 30px; cursor: pointer;  font-size:0.4em }
	.ad_table th.on { background-color: #FFCE4B }
	.ad_table td { border: 1px solid black; padding: 10px; font-size: 0.5em; }

	.ad_table2 { width: 100%; font-size: 1.2em }
	.ad_table2 th { border: 1px solid black; background-color:#f4f4f4; height: 30px;}
	.ad_table2 td { border: 1px solid black; text-align: center }
	
	.ad_table3 { width: 100%; font-size: 30px; margin-bottom: 20px }

	.input_text { width:100%; font-size: 1.3em; border: none; outline: none }

	.footer_text { font-size: 1em; width: 100%; border: none; outline: none; padding-left: 10px }
	.header_text { font-size: 1em; width: 100%; border: none; outline: none; padding-left: 10px }

	.btn_submit { background-color:#ffce4b; border:none; padding:5px; font-weight: bold; font-size: 1.5em }
	.btn_preview { background-color:#f4f4f4; border:none; padding:5px; font-weight: bold; font-size: 1.5em }

	.sub_menu_btn { width: 30%; font-size: 0.8em; background-color: #797979; color: #FFFFFF; border: none; padding: 10px; margin-bottom: 10px }
}