@charset "utf-8";
body {
  background: #291a2d;
  margin: 0;
  padding: 0;
}

.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 85px;
  right: 18%;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-section.on .menu-toggle{top:10px;right:10px}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #ffce4b;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  list-style: none;
  margin: 4em auto;
  text-align: center;
}
nav ul.hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
  font-weight:700
}
nav ul a:hover {
  background-color: #291a2d;
  color: #ffce4b;
}

.menu-section.on {
  z-index: 10;
  width: 100%;
  height: calc(100% + 154px);
  display: block;
  background-color: rgba(255, 255, 255, 0.82);
  position: absolute;
}

#add01{height:172px;background-color: white;}
#top_menu{height:45px;background-color: #ffce4b;text-align: center;line-height: 45px;}

.menu-section{/* position:relative; */overflow: hidden;/* min-height: 64px; */}
.wrap{max-width:1200px;margin:0 auto;width:100%}
.wrap:after, .wrapB:after{clear:both}
.wrapB{max-width:1800px;margin:0 auto;width:100%}

#content{padding-bottom:40px;overflow: hidden;}
#content .wrapB > div{float:left;background-color:white;height:700px}
#content .wrapB div.left{width: 260px;}
#content .wrapB div.cont{margin:0 40px;max-width:calc(100% - 600px);width:100%}
#content .wrapB div.cont.pages2{width:100%;margin:0 auto !important;float:none;background-color: transparent;height: auto;padding-top:20px;max-width: 1200px;}
#content .wrapB div.right{width: 260px;}

#content .wrapB div.cont.pages2 .top{height:auto;background-color:#efefef;margin-bottom:20px;}
#content .wrapB div.cont.pages1 .mid{margin-bottom:20px;background-color:#FFFFFF; padding-top: 10px}
#content .wrapB div.cont.pages1 .mid a{display:block}
#content .wrapB div.cont.pages1 .mid a img{width:100%}
#content .wrapB div.cont.pages2 .bottom{height:auto;background-color:white;}

#content .wrapB .cont .top { padding:10px 0 0 10px; text-align:center; border:2px solid #ffce4b; padding-bottom: 10px }
#content .wrapB .cont .top .title { margin:0 auto 10px auto; border-bottom:2px solid #ffce4b; padding-bottom:10px; width:50%; text-align:center }
#content .wrapB .cont .top_line { border-top: 10px solid #291a2d; }

#content .wrapB .cont .sns_login { margin:auto; width:100%; padding:10px; text-align:center; border:2px solid #ffce4b }
.bottom_line { margin:0 auto 10px auto; border-bottom:2px solid #ffce4b; padding-bottom:10px; width:50%; text-align:center }

#footer{background-color:#ffce4b;padding: 25px 0;text-align: center;color: #001818;font-size: 17px;}

.logo{max-width:179px;width:100%}

@media(max-width:2100px) {
  .menu-toggle{right: 149px;}
  .wrapB{max-width:1200px;width:100%}
  .button_list { width: 32%; margin-bottom: 5px; background-color: #291a2d; color: #FFFFFF; border: 2px solid #ffce4b; font-weight: bold; border-radius: 10px; padding: 5px; font-size:14px }
  .button_list2 { width: 50%; margin-bottom: 5px; background-color: #FFFFFF; color: #000000; border-top:none; border-right:none; border-left:none; border-bottom: 2px solid black; font-weight: bold; padding: 5px; }
  .main_descript { border:2px solid #ffce4b; padding: 10px; font-size: 16px; height: 445px }

  .class_info { text-align: center; cursor: pointer }

  .info_table { display:inline-block; vertical-align:middle; width: 85%; margin-bottom: 15px }
  .info_table th { border-top: 2px solid #000000; padding: 0 0 5px 0 }
  .info_table .th_end { border-bottom: 2px solid #000000; padding: 0 0 5px 0 }
  .info_table td { border-top: 2px solid #000000; padding: 0 0 5px 0; font-weight: bold }
  .info_table .td_end { border-top: 1px solid #000000; border-bottom: 2px solid #000000; padding: 0 0 5px 0; font-weight: bold }

  .join_table { width:50%; margin:auto; border-collapse: collapse }
  .join_table th { border-collapse: collapse; border:1px solid #E0e0e0; background-color: #CCCCCC; white-space:normal }
  .join_table td { border-collapse: collapse; border:1px solid #E0e0e0; }
	
  .login { width:20%; display:inline-block; margin-top:10px; }
  .login_btn { height:70px; margin-top:-40px; margin-left:10px; background-color: #ffce4b; border: none; border-radius: 5px; font-weight: bold; }

  .obligfld { font-size:1.2em; border-radius: 10px; outline:none; }
  .etc_btn { background-color: #ffce4b; border: none; border-radius: 5px; font-weight: bold; }
}

@media(max-width:1000px) {
  .menu-toggle{right: 20px;}
  #content .wrapB div.left, #content .wrapB div.right{display:none}
  #content .wrapB div.cont{max-width:none;width: 100%;margin:0 auto !important;}
  #footer{padding-left:5%;padding-right:5%}
  .logo{width: 104px;}
  .menu-toggle{top: 58px;}
  #add01{display:none}
  .button_list2 { width: 70%; margin-bottom: 5px; background-color: #FFFFFF; color: #000000; border-top:none; border-right:none; border-left:none; border-bottom: 2px solid black; font-weight: bold; padding: 5px }
	
  .info_table { display:inline-block; vertical-align:middle; width: 100%; margin-bottom: 15px; font-size: 13px }
  .info_table th { border-top: 2px solid #000000; padding: 0 0 5px 0 }
  .info_table .th_end { border-bottom: 2px solid #000000; padding: 0 0 5px 0 }
  .info_table td { border-top: 2px solid #000000; padding: 0 0 5px 0; font-weight: bold }
  .info_table .td_end { border-bottom: 2px solid #000000; padding: 0 0 5px 0; font-weight: bold }
  .login { width:40%; display:inline-block; margin-top:10px; }
  .login_btn { height:70px; margin-top:-40px; margin-left:10px; background-color: #ffce4b; border: none; border-radius: 5px; font-weight: bold; }

  .join_table { width:100%; margin:auto; border-collapse: collapse }
  .join_table th { border-collapse: collapse; border:1px solid #E0e0e0; background-color: #CCCCCC; white-space:normal }
  .join_table td { border-collapse: collapse; border:1px solid #E0e0e0; }
  
  .etc_btn { background-color: #ffce4b; border: none; border-radius: 5px; font-weight: bold; width: 100% }

  .mobile_table .obligfld { width:150px; border-radius: 10px; outline:none; }
}

.mobile_table { width: 98%; padding-right:10px}
.mobile_table td { border:1px solid black; }
.mobile_table th { border:1px solid black; }

.member_menu { float:right; padding-right:20px }

.main_cate_cd { display:none; margin:0px auto; width:100%; padding:10px; text-align:center; border:2px solid #ffce4b; height: 445px }
.list { margin:0 auto 10px auto; border-bottom:2px solid #ffce4b; padding-bottom:10px; width:50%; text-align:center }